<!-- https://developer.chrome.com/apps/angular_framework -->
<p>This is the partial for view 1.</p>
<button type="button" class="btn btn-lg btn-default">Default</button>
<button type="button" class="btn btn-lg btn-primary">Primary</button>
<button type="button" class="btn btn-lg btn-success">Success</button>
<button type="button" class="btn btn-lg btn-info">Info</button>


<button type="button" class="btn btn-lg btn-link">Link</button>
<ul>
    <li><button type="button" class="btn btn-lg btn-warning">Warning</button></li>
    <li><button type="button" class="btn btn-lg btn-danger">Danger</button></li>
</ul>
